.container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
.photo{
  width: 200px;
  height: 300px;
}
body {
  background-color:burlywood;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.rotateimg90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}