.main{
    width:630px ;
    height: 630px;
}
.container{
    width: 560px;
    height: 560px;
    margin: 90px 90px;
    bottom: 550px;
    position: relative;
    border: 1px solid black;
}
.block{
    width: 70px;
    height: 70px;
    float: left;
}
.black{
    background: black;
}
.white{
    background: white;
}
.num{
    position:relative;
    left: 125px;
    bottom: 1250px;
    font-style:oblique;
    font-weight: bold;
}
.latter{
    width: 70px;
    font-style:oblique;
    font-weight: bold;
    height: 70px;
    top: 125px;
    left: 50px;
    position: relative;
    display: grid;
}